#pr-extension-header {
  margin: 20px 0;

  &.auth {
    input {
      height: 34px;
      width: 200px;
      margin-right: 8px;
      padding-left: 4px;
    }
    .controls {
      margin-top: 8px;
    }
  }

  h2 {
    font-weight: normal;
  }

  ul {
    list-style: none;
    li {
      padding: 4px;
      label {
        cursor: pointer;
        font-weight: normal;
        span {
          margin-left: 4px;
        }
      }
    }
  }
}
